body, td, input { font-family: 'Roboto Condensed', 'Century Gothic', sans-serif; font-size: 13pt; }
body { color: #333; }

h1 { font-size: 40pt; font-weight: 300; }
h2 { font-size: 30pt; font-weight: 300; }
h3 { font-size: 24pt; font-weight: 300; }
h4 { font-size: 18pt; font-weight: 300; }

.text-xxl { font-size: 62pt; font-weight: 300; text-transform: uppercase; }
.text-xl { font-size: 40pt; font-weight: 300; text-transform: uppercase; }
.text-l { font-size: 26pt; font-weight: 300; text-transform: uppercase; }
.text-shadow { text-shadow: 2px 2px 4px #000; }
.text-shadow-lg { text-shadow: 0 0 20px rgba(0,0,0,0.5); }
.box-shadow { box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

body { background: url('../img/website-bg.jpg') top center fixed; }
.main-container { position: relative; margin: 0 auto; max-width: 1280px; }

.top-pattern { height: 16px; background: url('../img/pattern-1.png'); }
.quality-sign { float:left; margin: 20px 0 0 0; width: 49px; height: 49px; }
.quality-text { float: left; color: #000; margin: 20px 0 0 20px; font-size: 11pt; letter-spacing: 2px; }
.quality-text .line-1 { text-transform: uppercase; }
.quality-text .line-2 { display: inline-block; border-top: 1px solid #000; text-transform: uppercase; }
.top-menu { margin: 60px 0 0 0; list-style: none; padding: 10px 0; border-bottom: 1px solid #000; border-top: 1px solid #000; }
.top-menu li { display: inline-block; margin: 0 50px 0 0; font-size: 12pt; text-transform: uppercase; }
.top-menu li:last-child { margin-right: 0; }
.top-menu a { color: #000; padding: 5px; }
.top-menu a:hover { color: #fff; background: #000; text-decoration: none; }
.top-menu.right { text-align: right; }
.top-menu.right { text-align: right; }
.contacts-text { text-align: right; color: #000; margin: 20px 0 0 0; font-size: 11pt; }
.contacts-text .line-1 { display: inline-block; border-bottom: 1px solid #000; text-transform: uppercase; }
.contacts-text .line-2 { text-transform: uppercase; }
.logo { margin: 0 0 0 0; }
.logo img { margin: 0 auto; }

#content { margin: 60px 0 0 0; }
.container-content { background: rgba(255,255,255,1); }
.content-padding { padding: 0 30px; }
.carousel { margin: 80px 0 0 0; }
.carousel div { float: left; }
.carousel .arrow-left { width: 25px; margin: 0 15px 0 0; height: 387px; background: url('../img/arrow-left.png') center center no-repeat; }
.carousel .arrow-right { width: 25px; margin: 0 0 0 15px; height: 387px; background: url('../img/arrow-right.png') center center no-repeat; }

.pattern-line { background: url('../img/pattern-1.png'); text-align: center; }
.pattern-line h1 { background: #fff; display: inline-block; font-size: 26pt; margin: 0 auto; padding: 0 100px; color: #645944; text-transform: uppercase; }
.enter-text { text-align: center; font-size: 12pt; margin: 0 15%; }
.block-about { margin: 0 0 30px 0; }
.block-about .inner { background: #f7f2df; }
.block-about img { width: 100%; }
.block-about .pattern { height: 12px; background: url('../img/pattern-1.png'); }
.block-about .name { font-size: 17pt; text-align: center; margin: 20px 0 20px 0; text-transform: uppercase; }
.block-about .text { font-size: 12pt; text-align: center; margin: 0 20px 20px 20px; font-style: italic; height: 152px; overflow: hidden; }
.block-about .button { text-align: center; margin: 0 0 20px 0; }
.block-about .button a { text-transform: uppercase; padding: 10px 40px; background-color: #a3621b; color: #fff; }
.block-about .button a:hover { color: #fff; }

.product-block { margin: 0 0 100px 0; min-height: 320px; }
.product-block .img { float: left; width: 150px; }
.product-block .description { float: left; width: 60%; }
.product-block .name { font-family: Georgia, "Times New Roman", Times, serif; font-size: 20pt; color: #000; }
.product-block .type { font-size: 12pt; margin: 10px 0 20px 0; color: #777; text-transform: uppercase; letter-spacing: 5px; }
.product-block .about { font-size: 11pt; color: #777; margin: 0 0 20px 0; }
.product-block .volume, .product-block .strength { font-size: 10pt; color: #000; }
.product-block .wine-type { width: 40px; height: 5px; margin: 10px 0; }
.product-block .white { background: #f3e9bc; }
.product-block .red { background: #dcb2b9; }

.owner-text { background: #f7f2df; padding: 30px; }
.owner-text .owner-name { font-size: 25pt; font-family: Georgia, "Times New Roman", Times, serif; color: #854734; }
.owner-text .owner-pic { background: url('../img/figure-1.png') left top no-repeat; width: 106px; height: 24px; margin: 10px 0; }
.owner-text .owner-text-1 { font-style: italic; font-size: 15pt; }
.owner-text .owner-text-2 { font-style: italic; font-size: 12pt; color: #777; margin: 30px 0; }
.owner-text .owner-stamp { background: url('../img/stamp-medium.png') top right no-repeat; height: 104px; margin-top: -20px; }
.owner-photo { padding: 0; background: #f7f2df; }
.owner-photo img { width: 100%; }

.owner.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.owner.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.feedback-form {}
.feedback-form .form-caption { font-size: 24pt; text-align: center; text-transform: uppercase; }
.feedback-form textarea { height: 150px; }
.bottom-menu { list-style: none; padding: 0; margin: 0; }
.bottom-menu li { display: inline-block; width: 40%; margin: 0 0 20px; }
.bottom-menu a { text-transform: uppercase; color: #000; text-decoration: underline; }
.bottom-contacts { margin: 50px 0 0 0; font-size: 12pt; }
.bottom-contacts .contact-line { margin: 0 0 30px 0; min-height: 30px; }
.bottom-contacts .contact-line .icon { float: left; width: 50px; }
.bottom-contacts .contact-line .line { float: left; width: 80%; text-transform: uppercase; }
.bottom-stamp { text-align: center; }
.bottom-stamp img { margin: 120px auto 120px auto; }

.inline-gallery {}
.inline-gallery img { display: block; float: left; width: 20%; }

.galleries-list { }
.galleries-list .item { border-bottom: 1px solid #ddd; padding: 15px 0; }
.galleries-list .item:last-child { border-bottom: none; }
.galleries-list .name { font-size: 150%; }

.gallery-photos { min-height: 300px; }

.all-wines { display: block; width: 40%; text-align: center; position: relative; clear: both; margin: 0 auto; background: #558000; color: #fff; font-size: 14pt; text-transform: uppercase; padding: 10px 20px; }

.documents-list img { width: 150px; height: 210px; }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: #fff; /* Set a background color */
    color: #000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px; /* Some padding */
    border-radius: 2px; /* Rounded corners */
    font-size: 11pt;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#myBtn:hover {
    background-color: #eee; /* Add a dark-grey background on hover */
}











/* -------------------- Responsive classes ------------------- */

/* Extra small devices - less than 768 */
@media (max-width: 767px) {
    .content-padding { padding: 0; }
    .top-menu { margin-top: 35px; }
    .top-menu li { display: block; margin: 0; font-size: 9pt; }
    .logo { margin-top: 20px; }
    .enter-text { margin: 0 5%; }
    .owner-photo { width: 100%; }
    .quality-sign { width: 30px; height: 30px; }
    .quality-text { font-size: 8pt; letter-spacing: normal; margin-left: 5px; }
    .contacts-text { font-size: 8pt; }
    .pattern-line h1 { font-size: 16pt; margin: 0 auto; padding: 10px 20px; color: #645944; text-transform: uppercase; }
    .product-block {  }
    .product-block .img { width: 110px; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .top-menu { margin-top: 35px; }
    .top-menu li { margin: 0 10px 0 0; font-size: 11pt; }
    .owner-photo { width: 100%; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .top-menu li { margin: 0 30px 0 0; }
}